<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Angular app</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="static/style.css">
</head>
<body ng-controller="ParrotController">
	<div id="wrapper">
		<div class="row">
			<div class="col-xs-10">
				<h1>Angular test</h1>
 				<h2 ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<p>its my first angular application</p>
			</div>
		</div>
		<div class="row">
			<ul ng-repeat="parrot_fields in parrots|filter:query|orderBy:orderPhones">
				<li>
					<ul ng-repeat='field in parrot_fields'>
						<li data-name='{{ field.name }}'><strong>{{ field.label }}:</strong> {{ field.value }}
						</li>
					</ul>
				</li>
			</ul>
		</div>
		Search: <input ng-model="query">
		Order: 
		<select name="" id="" ng-model='orderPhones'>
			<option value="parrot_fields[0].value">name</option>	
			<option value="parrot_fields[1].value">value</option>
		</select>
	</div>
	<!-- // <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
	<script src="static/angular.min.js"></script>
	<script src="static/script.js"></script>
</body>
</html>